<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SlickTestDeveloper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SendKeyBuilder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <SlickTestDeveloper.My.MySettings>
      <setting name="Recorder_Default__XY__Record__Style" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reporter_Show__Report" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>144, 144</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>704, 366</value>
      </setting>
      <setting name="FormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Project_Default__ClassName" serializeAs="String">
        <value />
      </setting>
      <setting name="Project_Default__Show__UI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Project_Default__Option__Explicit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Project_Default__Option__Strict" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Font" serializeAs="String">
        <value>Courier New, 9.75pt</value>
      </setting>
      <setting name="UI_Highlight__Edit__Line" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__Line__Numbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_Show__Tab__Markers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldUpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_Show__Space__Markers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__New__Line__Markers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__Matching__Brackets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Project_Default__DLL__Auto__Includes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.dll</string>
            <string>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.Data.dll</string>
            <string>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.Drawing.dll</string>
            <string>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\Microsoft.VisualBasic.dll</string>
            <string>C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.Windows.Forms.dll</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Project_Default__Runtime__Timeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Recorder_Absolute__Coordinates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Default__Load__Last__Project" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastProject" serializeAs="String">
        <value />
      </setting>
      <setting name="Project_Default__New__File__Template" serializeAs="String">
        <value>\Template\NewFile.vb</value>
      </setting>
      <setting name="Project_Default__Main__File__Template" serializeAs="String">
        <value>\Template\NewProjectFile.vb</value>
      </setting>
      <setting name="Project_Default__Take__Picture__Before__Clicking"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Default__Take__Picture__After__Clicking"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Default__Take__Picture__Before__Typing"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Default__Take__Picture__After__Typing"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Library__Location" serializeAs="String">
        <value />
      </setting>
      <setting name="Project_Library__Projects__Auto__Copied" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Project_Default__External__Report__Connection__String"
        serializeAs="String">
        <value />
      </setting>
      <setting name="Recorder_Default__Sleep__Time__MS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Recorder_Default__Object__Reference" serializeAs="String">
        <value />
      </setting>
      <setting name="Recorder_Default__Total__Description__Length"
        serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="UI_Enable__Folding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Project_Default__Additional__Compiler__Options"
        serializeAs="String">
        <value>/verbose+ /errorreport:none</value>
      </setting>
    </SlickTestDeveloper.My.MySettings>
    <My.MySettings>
      <setting name="Automation_Ignore__Internal__Errors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Recorder_XY__Record__Style" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reporter_Show__Report" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>144, 144</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>704, 366</value>
      </setting>
      <setting name="FormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Reporter_Default__Reporter__Path" serializeAs="String">
        <value />
      </setting>
      <setting name="Automation_Use__Dot__Net" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compiler_ClassName" serializeAs="String">
        <value />
      </setting>
      <setting name="Compiler_Show__UI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compiler_Executable__Name" serializeAs="String">
        <value>Out.exe</value>
      </setting>
      <setting name="Compiler_Executable__Path" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="Compiler_Option__Explicit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compiler_Option__Strict" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sample_Save__File__Path" serializeAs="String">
        <value>.\File.vb</value>
      </setting>
      <setting name="Sample_Interaction__DLL__Location" serializeAs="String">
        <value>.\InterAction.dll</value>
      </setting>
      <setting name="Recorder_Sleep__Time__MS" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="UI_Font" serializeAs="String">
        <value>Courier New, 9.75pt</value>
      </setting>
      <setting name="UI_Highlight__Edit__Line" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__Line__Numbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_Show__Tab__Markers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldUpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UI_Show__Space__Markers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__New__Line__Markers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UI_Show__Matching__Brackets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Compiler_DLL__Includes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>System</string>
            <string>InterAction;.\InterAction.dll</string>
            <string>System.Drawing</string>
            <string>System.Data</string>
            <string>System.WindoWS.WS_Forms</string>
            <string>System.Xml</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Compiler_Runtime__Timeout" serializeAs="String">
        <value>10</value>
      </setting>
    </My.MySettings>
    <SendKeyBuilder.My.MySettings>
      <setting name="IgnoreErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XYRecordStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>144, 144</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>704, 366</value>
      </setting>
      <setting name="FormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DefaultReporterPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDotNet" serializeAs="String">
        <value>True</value>
      </setting>
    </SendKeyBuilder.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpDevelop.BuildWorker" publicKeyToken="F829DA5C02BE14EE" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.3043" newVersion="3.0.0.3043" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpDevelop.Widgets" publicKeyToken="F829DA5C02BE14EE" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.3043" newVersion="3.0.0.3043" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>